.ka{
    background-color: blue;
    color: white;
    width: 100px;
    height: 100px;
}
.kn{
    background-color: rgb(255, 0, 0);
    color: white;
    width: 100px;
    height: 100px;
}
.ke{
    background-color: rgb(9, 255, 0);
    color: white;
    width: 100px;
    height: 100px;
}