.obshie{
    background: url('img/road-g9875459d1_1920\ 1\ \(1\).jpg');
}
.M{
    width: 39px;
    height: 2px;
    left: 662px;
    margin-top:42px;
    margin-left:662px;
    margin-right:978px;
    border-radius: 0%;

     
}
.O{
    width: 106px;
    height: 23px;
    left: 878px;
    margin-top:42px;
    margin-left:737px;
    margin-right:837px;
    border-radius: 0%;

     
}
.A{
    width: 52px;
    height: 23px;
    left: 878px;
    margin-top:42px;
    margin-left:878px;
    margin-right:750px;
    border-radius: 0%;

     
}
.C{
    width: 84px;
    height: 23px;
    left: 965px;
    margin-top:42px;
    margin-left:965px;
    margin-right:631px;
    border-radius: 0%;

     
}
.pp1{
    margin-top:217px;
    margin-left:240px;
    margin-right:800px;

}
.batona button{
    color: white;
    background-color: red;
    border-radius: 0%;
    border: none;
    margin-top:95px;
    margin-left:240px;
    margin-right:1242px;
    padding-left:48px;
    padding-top:11px;
    padding-right:48px;
}
.imh{
    margin-top:22;
    margin-left:240;
    margin-right:1301;
}
.pvob pv p{
    color: white;
}
.pvob pvp p{
    color: white;
}
.pvob pvpv p{
    color: white;
}