.lank .ru{
    margin-right: 10px;
}

.links ul{
    display: flex;
    margin-top: 50px;
   
}
.links ul li{
    list-style-type: none;
    margin-right: 35px;
    color: white
}
.links ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;

}
.home{
    background: url('img/road-g9875459d1_1920\ 1\ \(1\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.pp1{
    color: white;
    margin-top: 217px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    /* or 72px */
    
    text-transform: uppercase;
    
    color: #FFFFFF;

}
.batona button{
    color: white;
    background-color: red;
    border-radius: 0%;
    border: none;
    margin-top: 64px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */


color: #FFFFFF;
padding: 20px;
border-radius: 10px;
border: none;
}
.col-4 img{
    margin-top: 50px;

}
.img img{
    margin-top: 22px;
}
.lank{
    color: white;
    display: flex;
    margin-top: 45px;
}
.lank .EN{
    margin-left: 5px;

}
.pvob{
    display: flex;
    background-color: white;
}
.pvob p{

}
.pvob img{
    padding-top: 10px;
}
.col-3 OUR nn{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */
    
    letter-spacing: 0.23em;
    text-transform: uppercase;
    
    color: #000000;
}.OUR SERVICES h1{
/* OUR SERVICES */


position: absolute;
width: 263px;
height: 45px;
left: 240px;
top: 947px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 150%;
/* identical to box height, or 45px */

letter-spacing: 0.15em;
text-transform: uppercase;

color: #000000;
}
.ab{
    display: flex;
}
.service .first .main{
    width: 386px;
    height: 500px;
    background: url('img/iStock-1125646126\ 1\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.service .second .main{
    width: 386px;
    height: 500px;
    background: url('img/iStock-1227609937\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.service .third .main{
    width: 386px;
    height: 500px;
    background: url('img/iStock-544604266-1\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.service{
    margin-top: 123px;
}
.service .col{
    margin-top: 123px;
}
.service  .wrapper p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 150%;
/* or 27px */

letter-spacing: 0.23em;
text-transform: uppercase;

color: #FFFFFF;
}
.service .col button{
    background: #db2512;
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 35px;
    color: white;
    font-weight: 700;
    text-align: center;
    z-index: 99;
}
.service .main .wrapper button{
    margin-top: 200px;
    margin-left: 143px;
}.service .main .wrapper p{
    margin-top: 60px;
}
.service .wrapper{
    display: block;
}
.service .col:hover .wrapper{
    display: block;
    cursor: pointer;
    transition: all 2s;
}
.service .wrapper{
    display: none;
}
.about{
    background: #171616;
    color: white;
}
.about .a{
    margin-top: 113px;
}
.about .b{
    margin-top: 153px;
}
.infor p{
    color: black;
    margin-bottom: 98px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 150%;
/* identical to box height, or 30px */

letter-spacing: 0.23em;
text-transform: uppercase;

color: #000000;
}
.Ve{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */

letter-spacing: 0.15em;
text-decoration-line: underline;

color: #000000;
}
.link a{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 22px;
/* identical to box height */

text-transform: uppercase;

color: #FFFFFF;
text-decoration: none;
}
.link ul{
    display: flex;
    margin-top: 50px;
}
.link li{
    margin-left: 35px;
}
.link li{
    margin-left: 35px;
}
.link li{
    margin-left: 35px;
    list-style-type:  none;
}
.fast .h{
    font-family: 'Poppins';
font-style: normal;
font-weight: 900;
font-size: 148px;
line-height: 150%;
/* or 222px */

text-transform: uppercase;

color: #000000;
text-align: center;
}
.fast .ppp .pp{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 150%;
/* identical to box height, or 60px */

letter-spacing: 0.15em;
text-transform: uppercase;

text-align: center;
}
.infor{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    
    
    color: #B7B7B7;
}
.fast .wrapper{
    padding: 20px;
    height: 150px;
}
.fast .text{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */

letter-spacing: 0.15em;
text-transform: uppercase;

color: #000000;

}
.fast .wrapper{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    padding: 40px;
}
.cpc{
    margin-bottom: 116px;
}
.us{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 150%;
/* or 45px */

letter-spacing: 0.15em;
text-transform: uppercase;

color: #FFFFFF;
}
.con .sen{
    position: absolute;
width: 198px;
height: 50px;
left: 232px;
top: 3647px;

background: #DB2512;
color: white;
border: none;
}
.con{
    background: #171616; 
}
.inpu{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 150%;
/* or 22px */

letter-spacing: 0.15em;

color: #FFFFFF;
}

.alll{
  
    margin-bottom: 99px;
}
.pp{
    margin-bottom: 92px;
}

.info-con{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    /* or 45px */

    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #FFFFFF;
    
}

.info-con h1{
    margin-top: 97px;
    margin-bottom: 46px;
}

.form-sub form input{
    background: #171616;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    /* identical to box height, or 22px */
    margin-bottom: 45px;
    letter-spacing: 0.15em;
    padding-bottom: 9px;
    margin-right: 46px;
    color: #FFFFFF;
    border: none;
    border-bottom: 1px solid  #FFFFFF;;
}

textarea{
    margin-top: 54px;
    background: #171616;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */

    letter-spacing: 0.15em;

    color: #FFFFFF;
    border: none;
    border-bottom:1px solid #FFFFFF ;

}
.form-sub button{
    background: #DB2512;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */

    text-transform: uppercase;
    margin-top: 37px;
    color: #FFFFFF;
    border: none;
    padding: 12px 72px;
    margin-bottom: 97px;

}

footer .foot-p{
    margin-top: 66px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    /* identical to box height, or 22px */

    letter-spacing: 0.15em;

    color: #000000;
}

footer a i{
    color: #000000;
    font-size: 22px;
    margin-right: 21px;
    margin-top: 62px;
}

footer{
    margin-bottom: 61px;
}

footer .icons{
    
   justify-content: flex-end;
}